* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dee1e3;
}

#calculator {
    width: 320px;
    background: #070707;
    padding: 24px;
    border-radius: 16px;
}

.voice-controls {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

select, #micBtn {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
}

select {
    flex: 1;
    background: #9ea1a8;
    color: white;
    cursor: pointer;
}

voice-btn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #f1f1f1;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

.voice-btn:hover {
  background: #e2e2e2;
}

#voice-btn.listening {
    background: #ef4444;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#statusText {
    color: #94a3b8;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
    height: 16px;
}

#result {
    background: #3e3f41;
    color: #f8fafc;
    font-size: 2.2rem;
    text-align: right;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
    min-height: 65px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 16px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background: #3e3f41;
    color: white;
    cursor: pointer;
    transition: 0.15s;
}

button:hover {
    background: #9ea1a8;
}

.operator { background: #f59e0b; }
.operator:hover { background: #d97706; }

.control-btn { background:#3e3f41; }

.equal {
    grid-column: span 2;
    background: #f59e0b;
}
.equal:hover { background: #d97706; }

